# 生成产物
out/
output/
*.SchDoc
*.PrjPCB
*.PcbDoc
*.PCBDOC
*.PcbLib
__Previews/
History/

# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.venv/
venv/

# 编辑器 / 系统
.vscode/
.idea/
Thumbs.db
desktop.ini
.DS_Store

# 本地临时文件
*.log
tmp/
